.footer {
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    &>.container {
        @include breakpoint-up(large) {
            display: flex;
            justify-content: space-between;
          }
    }
    

    a {
        color: $white;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 1.875rem;

        @include breakpoint-up(large) {
            
        }
    }

    &__social {
       
        margin-bottom: 1.875rem;

        @include breakpoint-up(large) {
          
        }

        a:not(:last-child) {   
            margin-right: 1rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;

        &.col1 {
            @include breakpoint-up(large) {
               
            }
        }
        

        &.col2 {
            margin-bottom: 1.875rem;
            @include breakpoint-up(large) {
               
            }
        }
    }

    a {
        line-height: 2.25;

        &:hover {
            color: $limeGreen;
        }
    }

    

    &__cta {

        @include breakpoint-up(large) {
           
        }
        a.button {
            margin-bottom: 1.875rem;
        }
    }

    &__copyright {
        font-size: 0.8125rem;
        color: $grayishBlue;
    
        @include breakpoint-up(large) {
         
        }
      }


}