.footer {
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 2fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:  
        "logo links1 links2 cta1"
        "social links1 links2 cta2";
        gap: 1rem;
        
    }

    a {
        color: $white;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 1.875rem;

        @include breakpoint-up(large) {
            grid-area: logo;
        }
    }

    &__social {
       
        margin-bottom: 1.875rem;

        @include breakpoint-up(large) {
            grid-area: social;
        }

        a:not(:last-child) {   
            margin-right: 1rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;

        &.col1 {
            @include breakpoint-up(large) {
                grid-area: links1;
            }
        }
        

        &.col2 {
            margin-bottom: 1.875rem;
            @include breakpoint-up(large) {
                grid-area: links2;
            }
        }
    }

    a {
        line-height: 2.25;

        &:hover {
            color: $limeGreen;
        }
    }

    

    &__cta {

        @include breakpoint-up(large) {
            grid-area: cta1;
        }
        a.button {
            margin-bottom: 1.875rem;
        }
    }

    &__copyright {
        font-size: 0.8125rem;
        color: $grayishBlue;
    
        @include breakpoint-up(large) {
          grid-area: cta2;
        }
      }


}